.loading { 
    /* 提供了一個loading的class，用於在頁面加載時顯示loading的動畫 */
    position: fixed;
    z-index: 998;
    height: 100%;
    width: 100%;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: white;
}

.loadimg {
    /* Loading中的圖片 */
    position: fixed;
    z-index: 999;
    overflow: show;
    margin: auto;
    top: 0px;
    left: 0px;
    bottom: 0;
    right: 0;
    height: 200px;
}