<!--404頁面不使用模板-->
<!DOCTYPE html>
<html lang="ZH-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSheet/404.css') }}">
    <title>白紙革命|404</title>
</head>
<body>
    <img src="{{ url_for('static', filename='Image/A4-dark.png') }}" alt="白紙革命" class="Logo">
    <h1>404-不存在的頁面就如同8964一般 永遠找不到的</h1>
    <a href="/">點我回到首頁</a>

</body>
</html>