<!DOCTYPE html>
<html lang="ZH-TW">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--CSS包含加載用的樣式表 故優先加載-->
    <link rel="stylesheet" href="{{ url_for('static', filename='styleSheet/style.css') }}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand position-Fix" href="/">
            <img src="{{ url_for('static', filename='Image/A4-dark-40px.png') }}" width="32" height="40" alt=""
                style="padding-left: 5px;">
            白紙革命
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="padding-left: 5px;">
                <a class="nav-item nav-link active" href="/about-us/">關於我們</a>
                <a class="nav-item nav-link active" href="/support-us/">聲援行動</a>
                <a class="nav-item nav-link active" href="#">資訊專區</a>
            </div>
        </div>
    </nav>


    <!-- 載入畫面 -->
    <div class="loading">
        <img src="{{ url_for('static', filename='Image/loading.gif') }}" alt="Loading..." class="loadimg">
    </div>

    <!-- 主要內容 -->
    <div style="padding: 15px;">
        {% block content %}{% endblock %}
    </div>

</body>

<!--JavaScript部分-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" crossorigin="anonymous"
    referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='JavaScript/loading.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    crossorigin="anonymous"></script>

<!-- css部分 -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    crossorigin="anonymous">

{% block script %}{% endblock %}

</html>