{% extends "baseModule.html" %}

{% block title %}白紙革命|關於我們{% endblock %}

{% block content %}

<div class="row ">
    <div class="col">
    </div>
    <div class="col-6 shadow-sm p-3 mb-3 bg-white rounded" style="padding: 0;">
      <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav" style="padding-left: 5px;">
                <a class="nav-item nav-link active" href="/about-us/group/social">社群組</a>
                <a class="nav-item nav-link active" href="/about-us/group/public-relations">公關組</a>
                <a class="nav-item nav-link active" href="/about-us/group/information">資訊組</a>
            </div>
        </div>
      </nav>
    </div>
    <div class="col">
    </div>
  </div>

<div class="our_goals-Title">
    <p>我們的主旨</p>
</div>
<div class="our_goals-content">
{{ our_goals|markdown }}
</div>
{% endblock %}